* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #ffffff;
}


p {
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

/* Dog crazy OMG*/
.hero-content-dog {
    display: flex;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 60px;


}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.header-logo {
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease-out;
    
}

.header-logo-title {
    color: #F1CDB3;
    margin-bottom: 10px;
    
}

.header-logo:hover {
    transform: scale(1.2);
}




.logo-title {
    font-family: Georgia;
    letter-spacing: 0.06em;
    line-height: 110%;
}

.header-logo-subtitle {
    color: #ffffff;
}

.logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.header-menu { 
    display: flex;
    width: 445px;
}

.header-menu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu-list-item {
    display: flex;
    align-items: center;
}

.header-menu-list-item-link {
    color: #ffffff;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
}

.header-menu-list-item-link:hover {
    color: #FAFAFA;
}

/* Status */

.disabled {
    color: #cdcdcd;
}

.active {
    border-bottom: 3px solid #F1CDB3; 
}


/* Doge block*/


.hero {
    display: flex; 
    background: url(/Assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 180px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    
}

.hero-content-info {
    margin-bottom: 80px;
    margin-right: 25px;
}

.hero-content-title {
    max-width: 410px;
    font-family: Georgia;
    font-size: 44px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 42px;
}

.hero-content-subtitle { 
    max-width: 460px;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #CDCDCD;
}

.hero-content-button {
    outline: none;
    cursor: pointer;
    width: 205px;
    height: 50px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;

    margin-top: 40px;


    letter-spacing: 0.06em;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
}

.hero-content-button:hover {
    background: #FDDCC4;
}

/* About */

.about-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 100px;
}

.about-dog-image {
    margin-left: 180px;
    margin-right: 123px;
}

.about-content-info {
    max-width: 430px;
    max-height: 380px;
}

.about-content-title {
    margin-top: 15px;
    font-family: Georgia;
    width: 400px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-content-subtitle {
    margin-top: 25px;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}


/*FRENDS*/

.frends {
    background: #F6F6F6;
}

.frends-wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.frends-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


 

}

.frends-content-slider {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 60px;
    padding-top: 60px;
}

.frends-content-card {
    background: #FAFAFA;
    border-radius: 9px;
    padding: 30px 35px 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.45s ease-out;
    
}

.frends-content-card:nth-child(1n) {
    margin-right: 60px;
    margin-left: 35px;
}


.frends-content-card:hover {
    transform: scale(1.1);
    
}

.frends-content-title-card {
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
    font-weight: 400;
    font-size: 21px;
    line-height: 23px;
    font-family: Georgia;

    margin-top: 30px;
    margin-bottom: 30px;
}

.button-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    

    cursor: pointer;
    outline: none;
    transition: background-color 0.5s ease-out;

    border: 2px solid #F1CDB3;
    background: #F6F6F6;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 23px 19px
    
}



.button-slider:hover {
    background-color: #FDDCC4;
    
}

.button-slider:disabled {
    border-color: #CDCDCD;
    color: #CDCDCD;
}

.button-card {
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;

    outline: none;
    cursor: pointer;
    transition: background-color 0.45s ease-out;

    text-decoration: none;
    color: #292929;

    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
}

.button-card:hover {
    background-color: #FDDCC4;
}

.frends-button-reset { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 261px;
    height: 52px;
    outline: none;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    margin-bottom: 100px;
    cursor: pointer;

    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    
    letter-spacing: 0.06em;
    
    color: #292929;
}

.button:hover {
    background: #FDDCC4;
}


.frends-block-title {
    display: flex;
    justify-content: center;
    padding-top: 75px;

    align-items: center;
    text-align: center;
}

.title {
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}




/*FAQ_BLOCK*/

.faq {
    margin-bottom: 100px;
}

.faq-items-container {
    margin: 0 auto;
    max-width:  1025px;
}

.faq-title-block {
    margin: 80px auto 60px auto;
    width: 310px;
}

.faq-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}


.faq-items-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.faq-items-block-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.faq-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.55s ease-out;
}

.faq-item:hover {
    transform: scale(1.3);
}


.faq-subtitle {
    margin-top: 30px;


    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


    color: #545454;
}

.donate { 
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donate-wrapper  { 
    margin: 0 auto;
    max-width: 1200px;
}

.donate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-content-block {
    margin-left: 30px;
}

.donate-title {
    margin-bottom: 20px;

    width: 300px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;

    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.donate-subtitle {
    font-family: Georgia;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
}

.donate-card {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.donate-number-card {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;


    letter-spacing: 0.06em;


    color: #545454;
}

.donate-text-info {
    width: 380px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #B2B2B2;
}

/*FOOTER*/

.footer {
    background: url(/Assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper { 
    margin: 0 auto;
    max-width: 1200px;
}


.footer {
    padding-top: 40px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container-email {
    margin-top: 40px;
    margin-bottom: 40px;
}

.questions-block-title {
    width: 280px;

    font-family: Georgia;

    font-weight: normal;
    font-size: 35px;
    line-height: 130%;


    letter-spacing: 0.06em;


    color: #FFFFFF;
}


.container {
    display: flex;
    align-items: center;
    color: #F1CDB3;
}






.visit-block-title {
    width: 270px;

    font-family: Georgia;

    font-weight: normal;
    font-size: 35px;
    line-height: 130%;


    letter-spacing: 0.06em;


    color: #FFFFFF;
}

.questions-block-link {
    text-decoration: none;

    margin-left: 20px;

    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;
    
    color: #F1CDB3;
}

.questions-block-number {
    margin-left: 20px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;
}

.visit-block-point-boston {
    margin-top: 33px;
    margin-bottom: 33px;
}

.visit-block-point {
    width: 260px;

    margin-left: 20px;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

}

.puppy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

